.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100;
  height: 100%;
   background-color: rgba(0,0,0,0.5);
  }

.modal-content {
  background-color: aqua;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  }


#head {
  background-color: aquamarine; 
}


.remove-btn {
  display: flex;
  margin-left: 540px;
  background-color: red;
}




